
.imgmain{
  position: relative;
  width: 1540px;
  height: 600px;
  left: 30px;
  top: 120px;
}


#bannertext {
  position: relative;
  top: 10px;

}

.best{
  position: absolute;
  left: 59px;
  top: 41px;
  color: #C0C37F;
  text-decoration: none;
}
/*590*/
.top{
  position: absolute;
  color: rgba(0, 0, 0, 0.7);
  left: 579px;
  top: 41px;
  text-decoration: none;
}
.top:link {
  text-decoration: underline;
}
.top:hover {
  text-decoration: none;
}
.about{
  position: absolute;
  left: 1229px;
  top: 41px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.htext{
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

}

button {
  border: white;
  box-shadow:none;
  outline: none;
  cursor: pointer;
}
