
#bannertext {
  position: relative;
  top: 10px;

}

.best{
  position: absolute;
  left: 59px;
  top: 41px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.visitedLinkColor{
  color: #C0C37F;
}
.top{
  position: absolute;
  color: rgba(0, 0, 0, 0.7);
  left: 535px;
  top: 41px;
  text-decoration: none;
}
.about{
  position: absolute;
  left: 1047px;
  top: 41px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.htext{
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

}
a, u {
  text-decoration: none;
  color: inherit;
}
button{
  border: none;
  position: relative;
  width: 100px;
  cursor: pointer;
  background:transparent;
  color:transparent;
}
/*button::before{*/
/*  content: "";*/
/*  position: absolute;*/
/*  width: 10px;*/
/*  height: 10px;*/
/*  border-left: 2px solid;*/
/*  border-bottom: 2px solid;*/
/*  transform: rotate(-45deg);*/
/*  right: 50px;*/
/*  top: 11px;*/
/*  transition: 0.5s;*/
/*}*/
/*ul{*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  background: #FFFFFF;*/
/*  border-radius: 4px;*/
/*}*/

.profile-menu{
  position: absolute;
  width: 64px;
  height: 58px;
  left: 5;
  top: 50px;
  background: #C4C4C4;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.2s;
  font-family: 'Arial';
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  list-style-type:none;
}
.imgblock{
  position: static;
  left: 45px;
  top: 120px;
}
.imgmain{
  position: unset;
  width: 1540px;
  height: 600px;
}

li{
  margin: 10px 0;
}


.container{
  position: absolute;
  left: 1387px;
  top: 32px;
}
.container.active .dropdown{
  display: block;
}
.container.active button:before{
  top: 17px;
  transform: rotate(-225deg);
}

.dropdown{
  display: none;
  border: 1px solid;
  border-radius:5px;
  margin: 10px 0px;
  width: 200px;
}
.dropdown>ul li{
  list-style: none;
  padding: 10px 20px;
  transition: 0.2s ease;
  cursor: pointer;
}
.dropdown>ul li:hover{
  opacity: 0.7;
  border-bottom: 4px solid;
}


.fixed{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}


