/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 1440px;
  height: 1024px;
  background: #FFFFFF;
}
